[Desktop Entry]
Name=Oscyra Session
Comment=Custom Oscyra Session Launcher
Exec=/usr/bin/oscyra-session.sh
TryExec=/usr/bin/oscyra-session.sh
Type=Application
